In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokemon_data.csv')

In [4]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
print(df['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [7]:
print(df['Name'][0:5])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [8]:
print(df[['Name','Type 1' , 'HP']])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [10]:
print(df.iloc[1])# everything in a row
# df.iloc[1:4]  :everything in row 1 to 4

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

## read a specific location(row,col)

In [14]:
print(df.iloc[2,1])

Venusaur

## if we want to  only access with Type 1 = Fire

In [33]:
# if we want to  only access with Type 1 = Fire

# df.loc[df['Type 1']=="Fire"]

# gives mean , std etc

In [34]:

df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Total
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,435.10250
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,119.96304
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,180.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,330.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,450.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,515.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,780.00000

# sorting

In [25]:
# default : Ascending
df.sort_values('Name') 

# o/p in descending
# df.sort_values('Name' , ascending = False) 

# Type 1 is ascending ,  HP is descending
df.sort_values(['Type 1','HP'] , ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# creating memory

In [28]:
# total stays in memory
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

# droping the created memory

In [29]:
# dropping the newly created column = 'Total'
df = df.drop(columns = ['Total'])
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## summing multiple columns to create new column ((:) means all )

In [31]:


df['Total'] = df.iloc[:,4:10].sum(axis=1) 
df.head(5)

# if axis = 1 horizontly , axis = 0 vertically

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

# rearranging columns

In [36]:

cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]] # doesnt modify data just for visual
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# saving our data

In [40]:
# saving our data

df.to_csv('modified.csv')

# no index will be shown
# df.to_csv('modified.csv' , index = False)

# change to excel
# df.to_excel('modified.xlsx' , index = False)

# for spaces
# df.to_excel('modified.xlsx' , index = False , sep = '\t')

# filtering data

In [43]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [45]:
# old index remains so to reset that: but by default it will save the old index
# new_df.reset_index

# for removing them we do:
# new_df.reset_index(drop=True)

#if we dont want to reset it to new data frame : 
new_df.reset_index(drop=True, inplace=True) # saves memory

new_df.to_csv('filtered.csv')

## remove strings containing word 
### mega

In [46]:
# will show every string that contains the word 'Mega'
df.loc[df['Name'].str.contains('Mega')]

# to drop/remove them use  ~
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Conditional Changes

In [47]:
df.loc[ df['Total'] > 500,   ['Generation','Legendary']] = ['Test 1', 'Test 2']
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test 1,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test 1,Test 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test 1,Test 2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test 1,Test 2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test 1,Test 2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test 1,Test 2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test 1,Test 2

In [48]:
df = pd.read_csv('modified.csv')

# Aggregate Statistics (Groupby)

In [58]:
df = pd.read_csv('modified.csv')

# df.groupby(['Total']).mean().sort_values('Defense', ascending = False)

df.groupby(['Type 1']).sum()

,Unnamed: 0,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,,
Bug,25397,23080,CaterpieMetapodButterfreeWeedleKakunaBeedrillB...,FlyingPoisonPoisonPoisonPoisonGrassGrassPoison...,26146,3925,4897,4880,3717,4471,4256,222,0
Dark,15729,14302,UmbreonMurkrowSneaselHoundourHoundoomHoundoomM...,FlyingIceFireFireFireGhostGhostFlyingIceFighti...,13818,2071,2740,2177,2314,2155,2361,125,2
Dragon,16699,15180,DratiniDragonairDragoniteAltariaAltariaMega Al...,FlyingFlyingFairyFlyingFlyingPsychicPsychicPsy...,17617,2666,3588,2764,3099,2843,2657,124,12
Electric,17626,15994,PikachuRaichuMagnemiteMagnetonVoltorbElectrode...,SteelSteelFlyingDragonSteelGhostFireWaterIceFl...,19510,2631,3040,2917,3961,3243,3718,144,4
Fairy,8407,7642,ClefairyClefableCleffaTogepiTogeticSnubbullGra...,FlyingFlying,7024,1260,1046,1117,1335,1440,826,70,1
Fighting,10812,9824,MankeyPrimeapeMachopMachokeMachampHitmonleeHit...,PsychicPsychicPsychicSteelSteelDarkFlying,11244,1886,2613,1780,1434,1747,1784,91,0
Fire,18769,17025,CharmanderCharmeleonCharizardCharizardMega Cha...,FlyingDragonFlyingFlyingRockFlyingFightingFigh...,23820,3635,4408,3524,4627,3755,3871,167,5
Flying,2986,2711,TornadusIncarnate FormeTornadusTherian FormeNo...,DragonDragon,1940,283,315,265,377,290,410,22,2
Ghost,17161,15568,GastlyHaunterGengarGengarMega GengarMisdreavus...,PoisonPoisonPoisonPoisonFlyingFlyingDarkDragon...,14066,2062,2361,2598,2539,2447,2059,134,2
Grass,26629,24141,BulbasaurIvysaurVenusaurVenusaurMega VenusaurO...,PoisonPoisonPoisonPoisonPoisonPoisonPoisonPois...,29480,4709,5125,4956,5425,4930,4335,235,3
Ground,12554,11401,SandshrewSandslashDiglettDugtrioCuboneMarowakR...,RockRockFlyingDragonDragonPsychicPsychicFireRo...,14000,2361,3064,2715,1807,2008,2045,101,4
Ice,11176,10165,JynxArticunoSwinubPiloswineDelibirdSmoochumSno...,PsychicFlyingGroundGroundFlyingPsychicWaterWat...,10403,1728,1746,1714,1861,1831,1523,85,2
Normal,34455,31279,PidgeyPidgeottoPidgeotPidgeotMega PidgeotRatta...,FlyingFlyingFlyingFlyingFlyingFlyingFairyFairy...,39365,7573,7200,5865,5470,6245,7012,299,2
Poison,7792,7050,EkansArbokNidoran (Female)NidorinaNidoqueenNid...,GroundGroundFlyingFlyingFlyingDarkDarkBugDarkF...,11176,1883,2091,1927,1692,1803,1780,71,0
Psychic,23946,21706,AbraKadabraAlakazamAlakazamMega AlakazamDrowze...,FairyFightingFlyingFlyingFlyingGrassFairyFairy...,27129,4026,4073,3858,5609,4918,4645,193,14
Rock,19001,17280,GeodudeGravelerGolemOnixOmanyteOmastarKabutoKa...,GroundGroundGroundGroundWaterWaterWaterWaterFl...,19965,2876,4086,4435,2787,3321,2460,152,4
Steel,13130,11957,SteelixSteelixMega SteelixSkarmoryMawileMawile...,GroundGroundFlyingFairyFairyRockRockRockPsychi...,13168,1761,2503,3412,1823,2177,1492,104,4
Water,37331,33946,SquirtleWartortleBlastoiseBlastoiseMega Blasto...,FightingPoisonPoisonPsychicPsychicPsychicIceIc...,48211,8071,8305,8170,8379,7898,7388,320,4

In [61]:
df['count'] = 1
df.groupby(['Type 1']).count()

,Unnamed: 0,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
Type 1,,,,,,,,,,,,,,
Bug,69,69,69,52,69,69,69,69,69,69,69,69,69,69
Dark,31,31,31,21,31,31,31,31,31,31,31,31,31,31
Dragon,32,32,32,21,32,32,32,32,32,32,32,32,32,32
Electric,44,44,44,17,44,44,44,44,44,44,44,44,44,44
Fairy,17,17,17,2,17,17,17,17,17,17,17,17,17,17
Fighting,27,27,27,7,27,27,27,27,27,27,27,27,27,27
Fire,52,52,52,24,52,52,52,52,52,52,52,52,52,52
Flying,4,4,4,2,4,4,4,4,4,4,4,4,4,4
Ghost,32,32,32,22,32,32,32,32,32,32,32,32,32,32
Grass,70,70,70,37,70,70,70,70,70,70,70,70,70,70
Ground,32,32,32,19,32,32,32,32,32,32,32,32,32,32
Ice,24,24,24,11,24,24,24,24,24,24,24,24,24,24
Normal,98,98,98,37,98,98,98,98,98,98,98,98,98,98
Poison,28,28,28,13,28,28,28,28,28,28,28,28,28,28
Psychic,57,57,57,19,57,57,57,57,57,57,57,57,57,57
Rock,44,44,44,35,44,44,44,44,44,44,44,44,44,44
Steel,27,27,27,22,27,27,27,27,27,27,27,27,27,27
Water,112,112,112,53,112,112,112,112,112,112,112,112,112,112

In [62]:
 df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# Working with large amounts of data

In [64]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])